* {
    box-sizing: border-box;
}

.page-wrap {
    max-width: 800px;
    margin: 20px auto;
}

.main-story {
    position: relative;
    margin: 0 0 25px 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    color: lightblue;
}

h1 {
    font-size: 4em;
}

h1,
h2 {
    margin: 0 0 10px 0;
}

.story-intro h1 {
    font-size: 2.5em;
}

.story-intro p {
    margin: 0;
}

.sub-story {
    margin-bottom: 25px;
}

.sub-story::after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

.sub-story img {
    width: 64px;
    float: left;
}

.sub-story .story-intro {
    float: left;
    width: calc(100% - 80px);
    padding: 0 8px;
}

@media screen and (min-width: 620px) {
    .sub-story img {
        width: 100%;
        float: none;
    }
    .sub-story .story-intro {
        float: none;
        width: 100%;
        padding: 20px;
    }
    .sub-stories {
        overflow: hidden;
        margin: 0 -12.5px 25px;
    }
    .sub-story {
        float: left;
        width: calc(33.3333% - 25px);
        margin: 0 12.5px;
        position: relative;
        font-size: 80%;
    }
    .story-intro {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.75);
        padding: 20px;
        color: white;
    }
}