$color-blue: #3572B0;
$color-darkblue: #4A6785;
$color-lightblue: #A4B3C2;
$color-lightgrey: #CCCCCC;
$color-grey: #999999;
$color-darkgrey: #333333;
$color-gold: #594300;
$color-yellow: #FFE9A8;
$font-normal: 'Arial';