.clearfix:after, .logo:after, .projects:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  color: #333333;
}

.page-wrap {
  width: 840px;
  margin: 20px auto;
}

.content {
  display: flex;
  flex-direction: row;
}

.description img {
  width: 360px;
  margin-right: 20px;
}

img {
  display: block;
}

.card {
  width: 360px;
  height: 460px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 6px;
  padding: 20px;
}

.logo {
  position: relative;
  padding: 10.5px 0;
}

.logo #jirasd-logo {
  float: left;
}

.logo #jira-logo {
  float: right;
}

.pics {
  margin: 16px 0;
}

.circle {
  border-radius: 100%;
  border: 1px solid #CCCCCC;
  overflow: hidden;
  width: 64px;
  height: 64px;
  margin: 7px auto;
  float: left;
}

.circle img {
  width: auto;
  height: 101%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.arrows {
  float: left;
  margin: 0 15px;
  width: 160px;
  height: auto;
}

.projects {
  margin-bottom: 64px;
}

.projects .project {
  float: left;
  width: 50%;
}

.projects .project .project-name {
  font-size: 10px;
  color: #999999;
  margin-bottom: 5px;
}

.projects .project .firstlevel,
.projects .project .secondlevel {
  font-size: 11px;
  font-weight: bold;
}

.projects .project .firstlevel span,
.projects .project .secondlevel span {
  border: 1px solid #A4B3C2;
  border-radius: 3px;
  padding: 0 4px;
  color: #4A6785;
  display: inline-block;
  height: 16px;
  line-height: 16px;
}

.projects .project .secondlevel span {
  border: 1px solid #FFE9A8;
  color: #594300;
}

.projects .project.right {
  text-align: right;
}

.textbox {
  margin-bottom: 20px;
}

.textbox h2 {
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: normal;
}

.textbox p {
  font-size: 14px;
  line-height: 20px;
  margin: auto;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-footer a {
  text-decoration: none;
  color: #3572B0;
  font-size: 14px;
}

.card-footer .button {
  background-color: #3572B0;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0 9px;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  align-self: flex-end;
}
