@import "_variables";
.clearfix {
    &:after {
        content: ".";
        clear: both;
        display: block;
        visibility: hidden;
        height: 0px;
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: $font-normal, sans-serif;
    color: $color-darkgrey;
}

.page-wrap {
    width: 840px;
    margin: 20px auto;
}

.content {
    display: flex;
    flex-direction: row;
}

.description img {
    width: 360px;
    margin-right: 20px;
}

img {
    display: block;
}

.card {
    width: 360px;
    height: 460px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    padding: 20px;
}

.logo {
    position: relative;
    @extend .clearfix;
    padding: 10.5px 0;
    #jirasd-logo {
        float: left;
    }
    #jira-logo {
        float: right
    }
}

.pics {
    margin: 16px 0;
}

.circle {
    border-radius: 100%;
    border: 1px solid $color-lightgrey;
    overflow: hidden;
    width: 64px;
    height: 64px;
    margin: 7px auto;
    float: left;
    img {
        width: auto;
        height: 101%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

.arrows {
    float: left;
    margin: 0 15px;
    width: 160px;
    height: auto;
}

.projects {
    @extend .clearfix;
    margin-bottom: 64px;
    .project {
        float: left;
        width: 50%;
        .project-name {
            font-size: 10px;
            color: $color-grey;
            margin-bottom: 5px;
        }
        .firstlevel,
        .secondlevel {
            font-size: 11px;
            font-weight: bold;
            span {
                border: 1px solid $color-lightblue;
                border-radius: 3px;
                padding: 0 4px;
                color: $color-darkblue;
                display: inline-block;
                height: 16px;
                line-height: 16px;
            }
        }
        .secondlevel {
            span {
                border: 1px solid $color-yellow;
                color: $color-gold;
            }
        }
        &.right {
            text-align: right;
        }
    }
}

.textbox {
    h2 {
        font-size: 20px;
        margin-bottom: 8px;
        font-weight: normal;
    }

    p {
        font-size: 14px;
        line-height: 20px;
        margin: auto;
    }

    margin-bottom: 20px;
}

.card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
        text-decoration: none;
        color: $color-blue;
        font-size: 14px;
    }

    .button {
        background-color: $color-blue;
        color: white;
        border: none;
        border-radius: 3px;
        padding: 0 9px;
        font-size: 14px;
        font-weight: bold;
        height: 30px;
        align-self: flex-end;
    }
}